* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #0e0e0e;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --green: #006600;
  --white: #ffffff;
  --black: #000;
  --light-green: #099309;
}

body {
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

._section {
  text-align: center;
  color: var(--black);
  background-color: var(--white);
  padding: 20px 24px;
  border-radius: 8px;
  margin: 20px auto;
}

._section__logo {
  margin-bottom: 10px;
  width: 10%;
}

._section__text {
  font-size: 24px;
  margin-bottom: 5px;
}

._button {
  padding: 8px 12px;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 10px 10px 0px;
  background-color: var(--light-green);
  color: var(--white);
  border-radius: 6px;
  border: transparent;
}

._button:hover {
  transition: all 0.1s linear;
  background-color: var(--green);
}

._button:disabled {
  cursor: not-allowed;
}

label {
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

input,
select,
textarea {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--light-green);
  width: 100%;
  height: 32px;
  font-size: 500;
  outline: none;
  background: transparent;
  color: #000;
}

small {
  display: none;
  text-align: left;
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
}

.border {
  border: 1px dotted black;
  border-radius: 4px;
}

.snippet {
  font-weight: 700;
  margin-bottom: 5px;
  padding: 5px;
  background: #e9f3f5;
  border-radius: 4px;
}
.snippet span {
  color: #09519d;
}

.delete_btn {
  transition: all 0.2s linear;
  background-color: #f61111;
  outline: none;
  border: transparent;
  font-weight: 500;
  border-radius: 4px;
}

.delete_btn:hover {
  background-color: #bf0f0f;
}
